@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono&display=swap');

.container {
  background-color: #f8f8f7;
  width: 100%;
  max-width: 1440px;
  height: inherit;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}


/*First part*/
.first {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 30px;
  margin-left: 147px;
}

.menu {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

h1 {
  color: #1d1d1d;
  font-family: 'Jost', 'sans-serif';
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
}

p {
  color: #8c8c8c;
  font-family: 'Jost', 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-title {
  color: #1d1d1d;
  font-family: 'Jost', 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
